

/* --------------------------------------------------------------- */
/* DISPLAY */
/* --------------------------------------------------------------- */
@if($generate-class-display){
  @each $key, $value in $display {
    .display-#{$key}{
      display: $value;
    }
  }
}

@if($generate-class-display-breakpoints){
    $prefix-class: display-;
    $scale: $display;

    @each $keyBp, $valueBp in $grid-breakpoints {
        @media (min-width: $valueBp) {
            @each $keyScale, $valueScale in $scale {
                $classe: $prefix-class + $keyScale;
                .#{$keyBp}#{$breakpoint-separator}#{$classe} {
                    display: $valueScale;
                }
            }
        }
    }
}
