
/* --------------------------------------------------------------- */
/* FONT-SIZE */
/* --------------------------------------------------------------- */

@if($generate-class-font-size){

  // GERA AS CLASSES
  @each $key, $value in $font-size {
    .fs-#{$key}{
      font-size: $value;
    }
  }

}

@if($generate-class-font-size-breakpoints){
    $prefix-class: font-size-;
    $scale: $font-size;

    @each $keyBp, $valueBp in $grid-breakpoints {
        @media (min-width: $valueBp) {
            @each $keyScale, $valueScale in $scale {
                $classe: $prefix-class + $keyScale;
                .#{$keyBp}#{$breakpoint-separator}#{$classe} {
                    font-size: $valueScale;
                }
            }
        }
    }
}

/* --------------------------------------------------------------- */
/* FONT-FAMILY */
/* --------------------------------------------------------------- */

@if($generate-class-font-family){
  @each $key, $value in $font-family {
    .ff-#{$key}{
      font-family: unquote($value);
    }
  }
}

@if($generate-class-font-family-breakpoints){
    $prefix-class: font-family-;
    $scale: $font-family;

    @each $keyBp, $valueBp in $grid-breakpoints {
        @media (min-width: $valueBp) {
            @each $keyScale, $valueScale in $scale {
                $classe: $prefix-class + $keyScale;
                .#{$keyBp}#{$breakpoint-separator}#{$classe} {
                    font-family: $valueScale;
                }
            }
        }
    }
}


/* --------------------------------------------------------------- */
/* FONT-WEIGHT */
/* --------------------------------------------------------------- */

@if($generate-class-font-weight){
  @each $key, $value in $font-weight {
    .fw-#{$key}{
      font-weight: $value;
    }
  }
}

@if($generate-class-font-weight-breakpoints){
    $prefix-class: font-weight-;
    $scale: $font-weight;

    @each $keyBp, $valueBp in $grid-breakpoints {
        @media (min-width: $valueBp) {
            @each $keyScale, $valueScale in $scale {
                $classe: $prefix-class + $keyScale;
                .#{$keyBp}#{$breakpoint-separator}#{$classe} {
                    font-weight: $valueScale;
                }
            }
        }
    }
}
