

/* --------------------------------------------------------------- */
/* VISIBILITY */
/* --------------------------------------------------------------- */
@if($generate-class-visibility){
  @each $key, $value in $visibility {
    .visibility-#{$key}{
      visibility: $value;
    }
  }
}

@if($generate-class-visibility-breakpoints){

    $prefix-class: visibility-;
    $scale: $visibility;

    @each $keyBp, $valueBp in $grid-breakpoints {
        @media (min-width: $valueBp) {
            @each $keyScale, $valueScale in $scale {
                $classe: $prefix-class + $keyScale;
                .#{$keyBp}#{$breakpoint-separator}#{$classe} {
                    visibility: $valueScale;
                }
            }
        }
    }
}
