
.hamburguer{
    width: 35px;
    padding: 8px 6px;
    z-index: 10;
    display: inline-block;
    position: absolute;
    top: 17px;
    right: 24px;
    cursor: pointer;

    @media ( min-width: 768px ){
        top: 35px;
    }

    @media ( min-width: 1200px ){
        display: none;
    }

}

.hamburguer__item{
    margin-bottom: 8px;
    padding-top: 2px;
    display: block;
    background: #fff;
}

.hamburguer__item:last-child{
    margin-bottom: 0;
}
