.lista-filme{

    background-color: color(night, light);
    background-image: url('../images/fundo-lambe-lambe.jpg');

    &__barra-semana{

        text-align: center;
        background-color: color(night, base);

        .ativo{
            color: color(blood);
        }
    }

    &__item-semana{
        padding: 18px 5px 23px 5px;
        line-height: 1;
        font-weight: bold;
        font-size: 15px;
        letter-spacing: 1px;
        text-transform: uppercase;
        display: inline-block;
    }

    @media ( min-width: 414px ){
        &__item-semana{
            padding: 18px 13px 23px 13px;
            font-size: 16px;
        }
    }

}

.grid-filmes{
    font-size: 0;
    text-align: center;
    overflow: hidden;

    &__item{
        width: 290px;
        margin: 20px 0;
        display: inline-block;
        vertical-align: top;
        text-align: left;

        @media (min-width: 768px) {
            margin: 40px 0;
        }
        &:last-child{
            margin-bottom: 40px;
        }
    }

    /* CONTENT */
    &__content{
       max-width: 200px;
       float: left
    }

    &__image{
        margin-bottom: 20px;
    }

    &__sessao{
        text-transform: uppercase;
        @include fs(large);
    }

    &__title{
        margin-bottom: 15px;
        @include fs(large);
    }

    &__link{
        text-transform: uppercase;
        font-weight: bold;
        @include fs(small);
    }

    /* META */
    &__meta{
        width: 60px;
        padding: 7px;
        float: left;
        text-align: right
    }

    &__dia{
        display: block;
        text-transform: uppercase;
        @include fs(xxlarge);
    }

    &__mes{
        display: block;
        text-transform: uppercase;
        @include fs(small);
    }

    &__dia-semana{
        display: block;
        margin-bottom: 40px;
        text-transform: uppercase;
        @include fs(large);
    }

    &__icon-facebook{
        width: 40px;
        height: 40px;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        margin-bottom: 5px;
        position: relative;

        img{
            display: inline-block;
            vertical-align: middle;
        }

    }

    &__icon-share{
        width: 40px;
        height: 40px;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        position: relative;

        img{
            display: inline-block;
            vertical-align: middle;
        }

    }

}

