.messages{
    padding: 5px;
    margin-bottom: 5px;

    text-align: left;
    font-size: 13px;

    border-radius: 3px;
    border-right: 1px solid #2f2f2f;
    border-bottom: 1px solid #2f2f2f;

    background: #585965;

    &.is-danger{
        background: #ff5450;
    }

    &.is-success{
        background: #4ea756;
    }

}
