.slide-home{

    height: 580px;
    padding-top: 180px;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;

    background-image: url("../images/slide.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .mobile-break{
        display: inline
    }

    .slide-home__title{
        padding: 0 30px;
        font-size: 50px;
        font-weight: bold;
        line-height: 55px;
        letter-spacing: 5px;
    }

    .slide-home__subtitle{
        padding: 0 10px;
        font-size: 22px;
        line-height: 28px;
        font-weight: bold;
    }

    .detalhe{
        width: 80px;
        height: 4px;
        margin: 30px auto 0 auto;
        background-color: color('blood','base');
    }

    @media ( min-width: 768px ){

        height: 885px;
        padding-top: 330px;
        font-size: 100px;
        background-size: cover;

        .slide-home__title{
            font-size: 100px;
            line-height: 100px;
        }

        .slide-home__subtitle{
            line-height: 1;
        }
        .mobile-break{
            display: none;
        }
    }
}
