@import "../2_tools/mixins/transitions";
@import "../2_tools/mixins/transforms";
@import "../2_tools/mixins/box-shadow";
@import "../2_tools/mixins/border-radius";


/*--------------------------------------------------------------
DRAWER
--------------------------------------------------------------*/

.drawer {
    min-width: 182px;
    max-width: 290px;
    width: 76%;
    height: 100%;
    margin-top: 0;

    position: fixed;
    top: 0;

    z-index: 999;
    overflow-y: auto;

    border-bottom: 1px solid #2D9CDB;
    background: color('night');

    @include transitions(all, .2s, linear);

    &__principal{
        font-size: 24px;
    }

    &.is-left{
        left: 0;
        @include transforms(translateX, -100%);
    }

    &.is-right{
        right: 0;
        @include transforms(translateX, 100%);
    }

    &.is-open{
        @include transforms(translateX, 0);
        @include transitions(all, .2s, linear);

        &.is-left{
            @include box-shadow(5px 1px 12px 0px rgba(50, 50, 50, 0.30));
        }

        &.is-right{
            @include box-shadow(-5px 1px 12px 0px rgba(50, 50, 50, 0.30));
        }

    }

    &__close{
        width: 30px;
        height: 30px;

        position: absolute;
        top: 14px;
        right: 10px;

        text-align: center;
        font-size: 13px;
        font-weight: 600;
        line-height: 27px;
        color: color('white_');

        border: 1px solid color('blood','opaque');
        background-color: color('blood','opaque');
        @include border-radius(50%);
    }
}
