
/* --------------------------------------------------------------- */
/* LINE-HEIGHT */
/* --------------------------------------------------------------- */

@if($generate-class-line-height){

  @each $key, $value in $line-height {
    .lh-#{$key}{
      line-height: $value;
    }
  }

}
/*
@if($generate-class-line-height-breakpoints){
  @each $key, $value in $line-height {
    @include responsive('lh-'+$key){
      line-height: $value;
    }
  }
}

*/
@if($generate-class-line-height-breakpoints){
    $prefix-class: line-height-;
    $scale: $line-height;

    @each $keyBp, $valueBp in $grid-breakpoints {
        @media (min-width: $valueBp) {
            @each $keyScale, $valueScale in $scale {
                $classe: $prefix-class + $keyScale;
                .#{$keyBp}#{$breakpoint-separator}#{$classe} {
                    line-height: $valueScale;
                }
            }
        }
    }
}
