// BUTTONS
$btn-padding       : 7px 15px 7px 15px;
$btn-font-family   : ff(sans);
$btn-font-size     : ff(medium);
$btn-font-weight   : fw(normal);
$btn-text-transform: uppercase;
$btn-line-height   : lh(normal);
$btn-vertical-align: top;
$btn-font-color    : color(grey-darkest);
$btn-bg-color      : color(grey-light);
$btn-border        : 2px solid color(grey-light);
$btn-border-radius : 5px;




/* height 30px */
.btn{
    padding: $btn-padding;
    display: inline-block;

    vertical-align: middle;

    text-align      : center;
    text-decoration : none;
    text-overflow   : ellipsis;
    text-transform  : $btn-text-transform;
    vertical-align  : $btn-vertical-align;

    font-family : $btn-font-family;
    font-size   : $btn-font-size;
    font-weight : $btn-font-weight;
    line-height : $btn-line-height;

    color: $btn-font-color;

    background-color: $btn-bg-color;
    border: $btn-border;
    cursor: pointer;

    -webkit-touch-callout: none;
       -moz-touch-callout: none;
            touch-callout: none;

    @include border-radius($btn-border-radius);

    transition: all 0.1s ease-in-out;

    &:hover{
        transition: all 0.2s ease-in-out;
        opacity: .9;
    }

    /* ---------- SIZES ---------- */
    &.is-mini{ @include make-btn-size(3px 8px, 12px, 1.5); }
    &.is-big{ @include make-btn-size(15px 16px, 16px, 16px); }
    &.is-extra{ @include make-btn-size(15px 20px , 20px, 26px); }

    /* ---------- COLORS ---------- */
    &.is-primary{ @include make-btn-color( color(primary), #fff, color(primary) ) }
    &.is-danger{  @include make-btn-color( color(danger), #fff, color(danger) ) }
    &.is-success{ @include make-btn-color( color(success), #fff, color(success) ) }

    /* ----------- STYLES ---------- */
    &.is-ghost{

        &.is-primary{
            @include make-btn-color( transparent, color(primary), color(primary) )
        }

        &.is-primary:hover{
            @include make-btn-color( color(primary), #fff, color(primary) )
        }

        &.is-danger{
            @include make-btn-color( transparent, color(danger), color(danger) )
        }

        &.is-danger:hover{
            @include make-btn-color( color(danger), #fff, color(danger) )
        }

        &.is-success{
            @include make-btn-color( transparent, color(success), color(success) )
        }

        &.is-success:hover{
            @include make-btn-color( color(success), #fff, color(success) )
        }
    }

    &.is-round{
        @include border-radius(25px);

        &.is-big{
            @include border-radius(40px);
        }

        &.is-extra{
            @include border-radius(60px);
        }
    }

    &.is-block{
        width: 100%;
        display: block;
    }
}

a.btn{
    text-decoration: none;
}

