
/* --------------------------------------------------------------------------- */
/* CUSTOM CHECKBOX */
/* --------------------------------------------------------------------------- */
$checkbox-size: 25px;

.custom-checkbox {
    min-height: $checkbox-size;
    padding-left: 35px;
    display: block;
    position: relative;

    line-height: $checkbox-size;

    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Esconde o checkbox padrão */
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    &.inline{
        padding-right: 10px;
        display: inline-block;
    }

    /* Cria o checkbox customizado */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: $checkbox-size;
        width: $checkbox-size;
        @include bg-color('clean','base');
        @include border-radius(3px);

        /* Cria o indicador do checkmark (oculto quando não marcado) */
        &:after {
            content: "";
            position: absolute;
            display: none;
        }

    }

    /* quando o checkbox está checked, coloca o background no checkmark */
    &.active .checkmark,
    input:checked ~ .checkmark {
        @include bg-color('primary','base');
    }

    /* Exibe o checkmark quando o checkbox está checked */
    &.active .checkmark:after,
    input:checked ~ .checkmark:after {
        display: block;
    }

    /* Estiliza checkmark/indicator */

    .checkmark:after {
        left: 9px;
        top: 4px;
        width: 7px;
        height: 13px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

}
