
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;

    .input-group-addon {
        padding: 6px 6px 6px 12px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        color: #555;
        text-align: center;
        background-color: #fff;
        @include border-radius(4px);

        .fa{
            /*font-size: 20px;*/
            color: #CED0DA;
        }

    }

    :first-child{
        border-right-width: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    :last-child{
        border-left-width: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
}

.input-group.has-border{
    .input-group-addon {
        padding:6px 12px;
    }
}

.input-group.has-border,
.input-group.has-border-outside
{
    .input-group-addon {
        border: 1px solid #ccc;

        &:first-child{
            border-right-width: 0;
        }

        &:last-child{
            border-left-width: 0;
        }

        &.is-default{
            background-color: #eee;
        }
    }
}

.input-group.has-border{
    .form-control{
        border: 1px solid #ccc;
    }
}

.input-group.has-border-outside{
    .form-control{
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;

        &:first-child{
            border-left: 1px solid #ccc;
        }

        &:last-child{
            border-right: 1px solid #ccc;
        }

    }
}

.input-group {

    .form-control{

        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }

        :first-child{
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        :last-child{
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

    }
}

.input-group-addon,
.input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

.input-group .form-control,
.input-group-addon,
.input-group-btn {
    display: table-cell;
}
