
@mixin ff($item) { font-family: ff($item); }
@mixin fs($item) { font-size: fs($item); }
@mixin fw($item) { font-weight: fw($item); }
@mixin lh($item) { line-height: lh($item); }

@function ff( $color, $map : $font-family ){
    $key: unquote($color);
    $data: map-get($map, $key);
    @if($data){
        @return unquote($data);
    }

    @return null;

}

@function fs( $color, $map : $font-size ){
    $key: unquote($color);
    @return map-get($map, $key);
}

@function fw( $color, $map : $font-weight ){
    $key: unquote($color);
    @return map-get($map, $key);
}

@function lh( $scale, $map : $line-height ){
    $key: unquote($scale);
    @return map-get($map, $key);
}
