/* --------------------------------------------------------------------------- */
/* BASE */
/* --------------------------------------------------------------------------- */

body {
    background-color: $bg-color;
    font-family: $body-font-family-color;
    color: $body-font-color;

}

a {
    font-family: ff(sans);
    color: color(blue);
    text-decoration: none;
    background-color: transparent;
}
