/* --------------------------------------------------------------------------- */
/* GENERICS */
/* --------------------------------------------------------------------------- */

* {
    padding: 0;
    margin: 0;
}

*,
*:after,
*:before {
    -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
    *behavior: url(boxsizing.htc);
}

*,
*:after,
*:before {
  -webkit-font-smoothing:antialiased;
          font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
}




/* Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}


/* --------------------------------------------------------------------------- */
/* RESET */
/* --------------------------------------------------------------------------- */
a {
    text-decoration: none;
    background-color: transparent;
}

a:focus,
a:active,
a:hover {
    outline: 0;
    text-decoration: none;
}

img { border: 0; }

object,
embed,
video,
iframe,
iframe[style] {
    max-width: 100%;
    /* height: auto; */
}


/* ---------------------- HTML 5 ---------------------- */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

figure {
    margin: 0;
}

//
// 1. Correct `inline-block` display not defined in IE 8/9.
// 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
//

audio,
canvas,
progress,
video {
    display: inline-block; // 1
    vertical-align: baseline; // 2
}

//
// Prevent modern browsers from displaying `audio` without controls.
// Remove excess height in iOS 5 devices.
//

audio:not([controls]) {
    display: none;
    height: 0;
}

//
// Address `[hidden]` styling not present in IE 8/9/10.
// Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
//

[hidden],
template {
    display: none;
}
