
/* --------------------------------------------------------------------------- */
/* TIPOGRAFIA */
/* --------------------------------------------------------------------------- */

html {
    font-family: $body-font-family;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body{
    background-color: $body-bg-color;
    font-family     : $body-font-family;
    font-weight     : $body-font-weight;
    line-height     : $body-line-height;
    color           : $body-font-color;
}

a {
    color: $link-color;
    text-decoration: none;
    background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: lh(normal);
    font-weight: normal;
}

h1{ @include fs('xxlarge'); }
h2{ @include fs('xlarge'); }
h3{ @include fs('large'); }
h4{ @include fs('medium'); }
h5{ @include fs('small'); }
h6{ @include fs('small'); }

p{
    margin-bottom: 15px;
    line-height: lh(normal);
}

ul {
  list-style-type: none;
}


hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

// ELEMENTOS INLINE

mark{

}
del,
strike,
s{
    text-decoration: line-through;
}
ins,
u{
    text-decoration: underline;
}
small{
    @include fs(tiny);
}
strong,
b{
    @include fw(bold);
}
em{
    font-style: italic;
}
