

/* --------------------------------------------------------------- */
/* FLOAT */
/* --------------------------------------------------------------- */
@if($generate-class-float){
  @each $key, $value in $float {
    .float-#{$key}{
      float: $value;
    }
  }
}

@if($generate-class-float-breakpoints){
    $prefix-class: float-;
    $scale: $float;

    @each $keyBp, $valueBp in $grid-breakpoints {
        @media (min-width: $valueBp) {
            @each $keyScale, $valueScale in $scale {
                $classe: $prefix-class + $keyScale;
                .#{$keyBp}#{$breakpoint-separator}#{$classe} {
                    float: $valueScale;
                }
            }
        }
    }
}
