
/* --------------------------------------------------------------- */
/* TEXT-ALIGN */
/* --------------------------------------------------------------- */

@if($generate-class-text-align){
  @each $key, $value in $text-align {
    .text-#{$key}{
      text-align: $value;
    }
  }
}

@if($generate-class-text-align-breakpoints){
    $prefix-class: text-align-;
    $scale: $text-align;

    @each $keyBp, $valueBp in $grid-breakpoints {
        @media (min-width: $valueBp) {
            @each $keyScale, $valueScale in $scale {
                $classe: $prefix-class + $keyScale;
                .#{$keyBp}#{$breakpoint-separator}#{$classe} {
                    text-align: $valueScale;
                }
            }
        }
    }
}




@if($generate-class-text-vertical-align){
  @each $key, $value in $text-vertical-align {
    .text-vertical-#{$key}{
      text-vertical-align: $value;
    }
  }
}

@if($generate-class-text-vertical-align-breakpoints){
    $prefix-class: vertical-align-;
    $scale: $text-vertical-align;

    @each $keyBp, $valueBp in $grid-breakpoints {
        @media (min-width: $valueBp) {
            @each $keyScale, $valueScale in $scale {
                $classe: $prefix-class + $keyScale;
                .#{$keyBp}#{$breakpoint-separator}#{$classe} {
                    vertical-align: $valueScale;
                }
            }
        }
    }
}
/* --------------------------------------------------------------- */
/* TEXT-TRANSFORM */
/* --------------------------------------------------------------- */

@if($generate-class-text-transform){
  @each $key, $value in $text-transform {
    .text-#{$key}{
      text-transform: $value;
    }
  }
}

@if($generate-class-text-transform-breakpoints){

    $prefix-class: text-transform-;
    $scale: $text-transform;

    @each $keyBp, $valueBp in $grid-breakpoints {
        @media (min-width: $valueBp) {
            @each $keyScale, $valueScale in $scale {
                $classe: $prefix-class + $keyScale;
                .#{$keyBp}#{$breakpoint-separator}#{$classe} {
                    text-transform: $valueScale;
                }
            }
        }
    }

}



/* --------------------------------------------------------------- */
/* TEXT-DECORATION */
/* --------------------------------------------------------------- */
@if($generate-class-text-decoration){
  @each $key, $value in $text-decoration {
    .text-#{$key}{
      text-decoration: $value;
    }
  }
}

@if($generate-class-text-decoration-breakpoints){

    $prefix-class: text-decoration-;
    $scale: $text-decoration;

    @each $keyBp, $valueBp in $grid-breakpoints {
        @media (min-width: $valueBp) {
            @each $keyScale, $valueScale in $scale {
                $classe: $prefix-class + $keyScale;
                .#{$keyBp}#{$breakpoint-separator}#{$classe} {
                    text-decoration: $valueScale;
                }
            }
        }
    }
}


