
$generate-class-padding: false;
$generate-class-padding-breakpoints: false;

$generate-class-margin: false;
$generate-class-margin-breakpoints: false;

$generate-class-colors: false;
$generate-class-colors-breakpoints: false;

$generate-class-bg-colors: false;
$generate-class-bg-colors-breakpoints: false;

$generate-class-font-size: true;
$generate-class-font-size-breakpoints: true;

$generate-class-font-family: false;
$generate-class-font-family-breakpoints: false;

$generate-class-font-weight: false;
$generate-class-font-weight-breakpoints: false;

$generate-class-text-align: false;
$generate-class-text-align-breakpoints: false;

$generate-class-text-vertical-align: false;
$generate-class-text-vertical-align-breakpoints: false;

$generate-class-text-transform: false;
$generate-class-text-transform-breakpoints: false;

$generate-class-text-decoration: false;
$generate-class-text-decoration-breakpoints: false;

$generate-class-line-height: false;
$generate-class-line-height-breakpoints: false;

$generate-class-display: false;
$generate-class-display-breakpoints: false;

$generate-class-float: false;
$generate-class-float-breakpoints: false;

$generate-class-visibility: false;
$generate-class-visibility-breakpoints: false;

$generate-class-z-index: false;
$generate-class-z-index-breakpoints: false;
