
// PADDING
$generate-class-padding: true;
$generate-class-padding-breakpoints: false;

// MARGIN
$generate-class-margin: true;
$generate-class-margin-breakpoints: false;

// COLORS
$generate-class-colors: true;
$generate-class-colors-breakpoints: true;

// BACKGROUND
$generate-class-bg-colors: true;
$generate-class-bg-colors-breakpoints: true;

// FONT-SIZE
$generate-class-font-size: true;
$generate-class-font-size-breakpoints: true;

// FONT-FAMILY
$generate-class-font-family: false;
$generate-class-font-family-breakpoints: false;

// FONT-WEIGHT
$generate-class-font-weight: false;
$generate-class-font-weight-breakpoints: false;


// TEXT-ALIGN
$generate-class-text-align: false;
$generate-class-text-align-breakpoints: false;

// VERTICAL-ALIGN
$generate-class-text-vertical-align: false;
$generate-class-text-vertical-align-breakpoints: false;

// TEXT-TRANSFORM
$generate-class-text-transform: false;
$generate-class-text-transform-breakpoints: false;

// TEXT-DECORATION
$generate-class-text-decoration: false;
$generate-class-text-decoration-breakpoints: false;

// LINE-HEIGHT
$generate-class-line-height: line-height;
$generate-class-line-height-breakpoints: line-height;

// DISPLAY
$generate-class-display: false;
$generate-class-display-breakpoints: false;

// FLOAT
$generate-class-float: float;
$generate-class-float-breakpoints: float;

// VISIBILITY
$generate-class-visibility: false;
$generate-class-visibility-breakpoints: false;

// Z-INDEX
$generate-class-z-index: true;
$generate-class-z-index-breakpoints: true;

// BORDER-RADIUS
$generate-class-border-radius: true;
// $generate-class-border-radius-breakpoints: false;

// BOX-SHADOW
$generate-class-box-shadow: true;
// $generate-class-box-shadow-breakpoints: false;
