

// SITE
$bg-color: #fff;
$body-font-color: #ccc;
$body-font-family-color: ff(sistema);

// BUTTONS
$btn-padding: 4px 15px 4px 15px;
$btn-border-radius: 3px;

// FORM
$input-height: 36px;
$input-padding:  1px  10px;
$input-border: 1px solid #ccc;
$input-font-size: fs(small);
$input-font-weight: ff(bold);
$input-background-color: #eee;
$input-font-placeholder-color: #ccc;
$input-border-radius: 5px;

$input-text-area-padding: 10px;

$label-margin-bottom: 8px;
$label-font-size: 18px;
$label-color: #4F4F4F;




$form-group-margin-bottom: 15px
