
// ------------------------------------------------------------
// BERAKPOINTS
// ------------------------------------------------------------

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 600px,
    lg: 1200px,
);

// ------------------------------------------------------------
// COLORS
// ------------------------------------------------------------

$colors: (
    snow        : $color-snow,
    grey        : $color-grey,
    grey-lighter: $color-grey-lighter,
    grey-light  : $color-grey-light,
    grey-dark   : $color-grey-dark,
    grey-darkest: $color-grey-darkest,
    primary     : $color-primary,
    success     : $color-success,
    warning     : $color-warning,
    danger      : $color-danger,
);

// ------------------------------------------------------------
// SPACING
// ------------------------------------------------------------

$margin: (
    0: 0,
    1: 1px,
    2: 5px,
    3: 10px,
    4: 15px,
    5: 20px,
    6: 30px,
);

$padding: (
    0: 0,
    1: 1px,
    2: 5px,
    3: 10px,
    4: 15px,
    5: 20px,
    6: 30px,
);

// ------------------------------------------------------------
// VISIBILITY
// ------------------------------------------------------------
$visibility : (
    visible  : visible,
    invisible: hidden,
);


// ------------------------------------------------------------
// DISPLAY
// ------------------------------------------------------------

$display : (
    block       : block,
    inline-block: inline-block,
    inline      : inline,
    table       : table,
    table-row   : table-row,
    table-cell  : table-cell,
    hidden      : none,
    flex        : flex,
    inline-flex : inline-flex,
);

// ------------------------------------------------------------
// FLOAT
// ------------------------------------------------------------

$float : (
    right: right,
    left: left,
    none: none,
);

// ------------------------------------------------------------
// Z-INDEX
// ------------------------------------------------------------

$z-index : (
    z-0    : 0,
    z-10   : 10,
    z-20   : 20,
    z-30   : 30,
    z-40   : 40,
    z-50   : 50,
    z-auto : auto,
);

// ------------------------------------------------------------
// BORDER
// ------------------------------------------------------------

// ------------------------------------------------------------
// BORDER-RADIUS
// ------------------------------------------------------------

$border-radius: (
    0: 0,
    1: 3px,
    2: 6px,
    3: 9px,
    4: 15px,
    5: 20px,
    6: 30px,
);


// ------------------------------------------------------------
// BOX-SHADOW
// ------------------------------------------------------------

$box-shadow: (
    default  : '0 2px 4px 0 rgba(0,0,0,0.10)',
    'md'     : '0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08)',
    'lg'     : '0 15px 30px 0 rgba(0,0,0,0.11), 0 5px 15px 0 rgba(0,0,0,0.08)',
    'inner'  : 'inset 0 2px 4px 0 rgba(0,0,0,0.06)',
    'outline': '0 0 0 3px rgba(52,144,220,0.5)',
    '1'      : '0 2px 4px rgba(0,0,0,0.05)',
    '2'      : '0 4px 8px rgba(0,0,0,0.1)',
    '3'      : '0 8px 16px rgba(0,0,0,0.15)',
    'none'   : 'none',
);

// ------------------------------------------------------------
// TEXT
// ------------------------------------------------------------

$text-align : (
    left    : left,
    right   : right,
    center  : center,
    justify : justify,
    nowrap  : nowrap,
);

$text-vertical-align : (
    baseline    : baseline,
    top         : top,
    middle      : middle,
    bottom      : bottom,
    text-top    : text-top,
    text-bottom : text-bottom,
);

$text-transform : (
    lowercase  : lowercase,
    uppercase  : uppercase,
    capitalize : capitalize,
    normal     : normal,
);

$text-decoration : (
    underline     :underline,
    line-through  :line-through,
    no-underline  :none,
);

// ------------------------------------------------------------
// LINE-HEIGHT
// ------------------------------------------------------------

$line-height: (
    none   :1,
    tight  :1.25,
    normal :1.5,
    loose  :2,
);

// ------------------------------------------------------------
// FONTS
// ------------------------------------------------------------

$font-size : (
    tiny:    16px,
    small:   18px,
    medium:  20px,
    large:   22px,
    xlarge:  24px,
    xxlarge: 26px,
);

$font-family : (
    sans    : 'sans-serif',
    serif   : "Georgia, serif",
    mono    : "Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace",
);

$font-weight : (
    hairline  :100,
    thin      :200,
    light     :300,
    normal    :400,
    medium    :500,
    semibold  :600,
    bold      :700,
    extrabold :800,
    black     :900,
);

$font-style : (
    normal  :normal,
    italic  :italic,
);

