
$breakpoint-separator: '\\:';

$color-snow: #fff;

$color-grey: #cacfd9;
$color-grey-light: #e1e4e4;
$color-grey-lighter: #f6f7f9;
$color-grey-dark: #91a1bb;
$color-grey-darkest: #5f789b;

$color-primary: #3384f3;
$color-success: #47c796;
$color-warning: #ffa850;
$color-danger:  #f04545;


