

/* --------------------------------------------------------------- */
/* BACKGROUNDS */
/* --------------------------------------------------------------- */
@if($generate-class-bg-colors){
  @each $key, $value in $colors {
    .bg-#{$key}{
      background-color: $value;
    }
  }
}

@if($generate-class-bg-colors-breakpoints){

    $prefix-class: bg-color-;
    $scale: $colors;

    @each $keyBp, $valueBp in $grid-breakpoints {
        @media (min-width: $valueBp) {
            @each $keyScale, $valueScale in $scale {
                $classe: $prefix-class + $keyScale;
                .#{$keyBp}#{$breakpoint-separator}#{$classe} {
                    background-color: $valueScale;
                }
            }
        }
    }

}



/* --------------------------------------------------------------- */
/* FONT-COLORS */
/* --------------------------------------------------------------- */

@if($generate-class-colors){
  @each $key, $value in $colors {
    .color-#{$key}{
      color: $value;
    }
  }
}

@if($generate-class-colors-breakpoints){

    $prefix-class: color-;
    $scale: $colors;

    @each $keyBp, $valueBp in $grid-breakpoints {
        @media (min-width: $valueBp) {
            @each $keyScale, $valueScale in $scale {
                $classe: $prefix-class + $keyScale;
                .#{$keyBp}#{$breakpoint-separator}#{$classe} {
                    color: $valueScale;
                }
            }
        }
    }

}

