

/* --------------------------------------------------------------- */
/* Z-INDEX */
/* --------------------------------------------------------------- */
@if($generate-class-z-index){
  @each $key, $value in $z-index {
    .#{$key}{
      z-index: $value;
    }
  }
}

@if($generate-class-z-index-breakpoints){

    $prefix-class: z-index-;
    $scale: $z-index;

    @each $keyBp, $valueBp in $grid-breakpoints {
        @media (min-width: $valueBp) {
            @each $keyScale, $valueScale in $scale {
                $classe: $prefix-class + $keyScale;
                .#{$keyBp}#{$breakpoint-separator}#{$classe} {
                    z-index: $valueScale;
                }
            }
        }
    }
}
