
// FORM

// Input
$input-height           : 37px;
$input-padding          : 1px  10px;
$input-font-size        : fs(tiny);
$input-font-family      : ff(sans);
$input-font-weight      : fw(normal);
$input-placeholder-color: color(grey-dark);
$input-border-radius    : 5px;
$input-focus-border     : 1px dashed color(primary);
$input-focus-transition : all 0.3s ease-in-out;
$input-border           : 1px solid color(grey);
$input-background-color : color(grey-lighter);

// Textarea
$input-text-area-padding : 10px;

// Label
$label-margin-bottom    : 8px;
$label-font-size        : 18px;
$label-color            : #4F4F4F;

//
$form-group-margin-bottom: 15px;


/* --------------------------------------------------------------------------- */
/* FORMS */
/* --------------------------------------------------------------------------- */

.form-control{
    width: 100%;
    height: $input-height;
    padding: $input-padding;
    border: $input-border;

    font-size: $input-font-size;
    font-weight: $input-font-weight;
    font-family: $input-font-family;

    vertical-align: bottom;
    outline: transparent;

    background-color: $input-background-color;

    @include placeholder($input-placeholder-color);

    @include border-radius($input-border-radius);

    transition: $input-focus-transition;
}

.form-control{
    &.is-round{
        padding-left: 20px;
        padding-right: 20px;
        @include border-radius(25px);
    }

    &.is-clean{
        border: 1px solid color(clean) ;
        @include bg-color(clean) ;
    }

    &.has-border{
        border: 1px solid color(clean) ;
    }
}

.form-control{
    &.is-big{
        height: 50px;
        padding: 1px  10px;
        font-size: fs(small);
    }

    &.is-small{
        height: 28px;
        padding: 1px  10px;
        font-size: fs(tiny);
    }
}

.form-control{
    &:focus{
        border: $input-focus-border;
        transition: $input-focus-transition;
    }
}

textarea.form-control{
    height: auto;
    padding: $input-text-area-padding;
}

select.form-control[multiple]{
    height: auto;
}

label {
    max-width: 100%;
    margin-bottom: 8px;
    display: inline-block;
    font-size: $label-font-size;
    color: $label-color;
}

/* ---------- RADIO e CHECKBOX ---------- */
.checkbox, .radio {
    position: relative;
    display: block;
}

.checkbox label, .radio label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
}

.checkbox input[type=checkbox],
.radio input[type=radio],
.checkbox-inline,
.radio-inline{
    margin-left: -20px;
    vertical-align: middle;
}

.checkbox-inline, .radio-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    margin-right: 10px;
    font-weight: 400;
    font-size: 13px;
    vertical-align: middle;
    cursor: pointer;
}


/* ---------- GROUP ---------- */
.form-group { margin-bottom: $form-group-margin-bottom; }

